.gap-8 {
  gap: 2rem;
}

html{
  font-size: 14pt;
}

.logo{
  max-height: 12rem;
}

.home-hero{
  display: grid;
} 
 .header-logo-scroll a{
  display: none;
 }

.home-hero-logo{
  display: flexbox;
  justify-content: center;
  align-content: center;
}

.home-hero-logo div svg{
  min-height: 150px;
  justify-self: center;
}

.home-hero-text{
  display: flexbox;
  
  justify-content: center;
  align-content: center;
  
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: bolder;
  line-height: normal;
  font-size: 3rem;
  color: rgba(var(--color-secondary-500));
}

@media only screen and (min-width: 560px) {
  .home-hero-text{
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .home-hero-text{
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1280px) {
  .home-hero-text{
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1536px) {
  .home-hero-text{
    font-size: 4.3rem;
  }
}

.prose{
  text-align: justify;
  text-justify: inter-word;
}

.prose strong{
  color: rgba(var(--color-primary-500));
}

:is(.dark .prose strong){
  color: rgba(var(--color-secondary-500));
}