.gap-8 {
  gap: 2rem;
}

html{
  font-size: 14pt;
}

.logo{
  max-height: 12rem;
}

.home-hero{
  display: flexbox;
}

.home-hero-logo{
  text-align: center;
  display: flexbox;
  justify-content: center;
  flex-grow: 1;
  min-width: 300px;
  max-height: 300px;
}

.home-hero-logo svg{
  text-align: center;
  justify-content: center;
  min-width: 300px;
  max-height: max-content;
  max-height: 300px;
}


.home-hero-text{
  text-align: left;
  display: flexbox;
  justify-content: center;
  /* flex-grow: 1; */
  min-width: 300px;
  max-height: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  line-height: normal;
  font-size: 15vw;
  color: #FD673A;
}


@media only screen and (min-width: 560px) {
  .home-hero-text{
    font-size: 8vw;
    min-height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .home-hero-text{
    font-size: 6vw;
  }
}

@media only screen and (min-width: 1280px) {
  .home-hero-text{
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1536px) {
  .home-hero-text{
    font-size: 4vw;
  }
}