{{ $limit := .Get "limit" | default 1 }}
{{ $title := .Get "title" | default (i18n "shortcode.recent_articles" | emojify) }}
{{ $parent := .Page.RelPermalink }}
{{ $where := .Get "where" }}
{{ $value := .Get "value" }}
<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <h2
            class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
        >
            {{ $title }}
        </h2>

        <div
            class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8"
        >
            {{ if $where }}
                {{ range ( where .Site.RegularPages $where $value | first $limit ) }}
                    {{ if not (eq .RelPermalink $parent) }}
                        {{ partial "testimonial.html" . }}
                    {{ end }}
                {{end}}
            {{ else }}
                {{ range .Site.RegularPages | first $limit }}
                    {{ if not (eq .RelPermalink $parent) }}
                        {{ partial "testimonial.html" . }}
                    {{ end }}
                {{end}}
            {{ end }}
        </div>
    </div>
  </section>